<h1 class="text-center">Chat Socket.io</h1>

<div class="container-fluid">
    <input type="text" id="chatBox">
    <button id="botonChat">Enviar</button>
</div>
<div class="container-fluid">
    <h2 class="text-start">Ultimos 10 mensajes</h2>
    <p id="parrafosMensajes"></p>
</div>