<div class="container-fluid">
    <h1 id="greeting" class="text-center">Saludos</h1>
    <div id="specialButton">

    </div>
    {{!-- <a href="http://localhost:{{port}}/static/profile"><button id="profile"> Perfil</button></a> --}}
</div>
<div class="">
    <h2 class="text-center">Productos</h2>

    {{!-- <div>
        <ul id="productsList">

        </ul>
        <div>
            <a href=""><button>Prev</button></a>
            <p id="page"></p>
            <a href=""><button>Next</button></a>
        </div>
    </div> --}}
</div>